<footer class="footer">
    <div class="infobox infobox-copyright">
        <h4 class="infobox-title infobox-title-secondary-color">
            2024 Copyright: Concerto.com
        </h4>
    </div>
    <div class="infobox-icons">
        <i class="infobox-facebook"></i>
        <i class="infobox-instagram"></i>
        <i class="infobox-whatsapp"></i>
        <i class="infobox-twitter"></i>
    </div>
</footer>
